<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../retro-app-theme.html">
<link rel="import" href="../rooms/create-room.html">
<link rel="import" href="../rooms/list-rooms.html">

<dom-module id="landing-page">
  
  <template>

      <style is="custom-style" include="retro-app-theme iron-flex iron-flex-alignment">
      a.join-room-button {
            background-color: var(--app-primary-color);
            border-radius: 50px;
            color: white;
            display: block;
            padding: 25px;
            margin: 5px 25px;
            font-size: 20px;
            text-align: center;
        }

        a.join-room-button:hover,
        a.join-room-button:focus {
          background-color: var(--app-secondary-color);
          text-decoration: none;
        }
    </style>

      <firebase-document path="/rooms" data="{{roomData}}"></firebase-document>

      <template is="dom-repeat" items="[[roomDataArray]]">
          <a class="join-room-button" href="/rooms/{{item.name}}">[[item.value.name]]</a>
      </template>   
  </template>

  <script>
    class LandingPage extends Polymer.Element {
      static get is() { return 'landing-page'; }

      static get properties() {
        return {
          roomData: {
            type: Object,
            observer: '_roomDataChange'
          },
          roomDataArray: Array
        }
      }

      _toArray(obj) {
          return Object.keys(obj).map(function(key) {
              return {
                  name: key,
                  value: obj[key]
              };
          });
      }

      _roomDataChange(newValue, oldValue) {
        this.roomDataArray = this._toArray(newValue);
      }

    }

    window.customElements.define(LandingPage.is, LandingPage);
  </script>
</dom-module>