<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">

<link rel="import" href="./../retro-app-theme.html">

<dom-module id="room-page">
  <template>
    <style id="custom-styles" include="retro-app-theme iron-flex iron-flex-alignment">
      :host {
        --primary-background-color: var(--app-body-color);
        --primary-color: var(--app-primary-color);
      }

      paper-card {
        background-color: var(--app-body-color);
        text-align: center;
        width: 100%;
      }
      
      paper-item {
        text-transform: capitalize;
      }

      #retroText {
        margin-bottom: 20px;
      }

      #addRetroItem {
        padding-left: 25px;
        padding-right: 25px;
      }
    </style>

    <firebase-query id="addRetroQuery" path="/rooms/[[roomKey]]/[[retroType]]"></firebase-query>
    <firebase-query id="addMemberToRoom" path="/rooms/[[roomKey]]/members"></firebase-query>

    <paper-card class="form" id="sticky">
        <paper-dropdown-menu id="retroType" label="Select Column" selected="" placeholder="Good/Bad/Try">
          <paper-listbox slot="dropdown-content">
            <paper-item>good</paper-item>
            <paper-item>bad</paper-item>
            <paper-item>try</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-textarea id="retroText" rows="10" placeholder="Enter comment here"></paper-textarea>
        <paper-button id="addRetroItem" class="primary" on-click="addRetroItem">Submit Comment</paper-button>
      </paper-card>
  </template>

  <script>
    class RoomPage extends Polymer.Element {
      
      static get is() { return 'room-page'; }

      static get properties() {
        return {
          roomKey: String
        };
      }

      addRetroItem() {
          let retroText = this.$.retroText.value;

          if (retroText) {
            let retroData = {
              authors: [this.user.displayName],
              text: this.$.retroText.value,
              type: this.$.retroType.value
            };

            this.retroType = this.$.retroType.value;
            this.$.addRetroQuery.ref.push(retroData);
            this.clear();
          }
        }

        clear() {
          this.$.retroText.value = '';
          this.$.retroType.value = '';
        }
    }

    window.customElements.define(RoomPage.is, RoomPage);
  </script>
</dom-module>