<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../retro-app-theme.html">
<link rel="import" href="../retro-app-icons.html">

<dom-module id="retro-app-header">

  <template>

    <style is="custom-style" include="retro-app-theme iron-flex iron-flex-alignment">

      .app-header-submenu {
        color: var(--app-primary-color);
        font-size: 18px;
      }
      .app-header-submenu paper-button { text-transform: capitalize; }

      h1 a { color: inherit; text-decoration: none; }
      h1 a:hover, h1 a:focus { color: inherit; text-decoration: none; }

      .logo {
        width: 1em;
        height: 1em;
        border: 2px solid var(--app-primary-color);
        border-radius: 50%;
        padding: 5px;
      }

      .app-header { @apply --layout-vertical; }

      @media all and (max-width: 499px) {
        .app-header { margin-bottom: 30px; }
        h1 { margin-bottom: 5px; }
      }

      @media all and (min-width: 500px) {
        .app-header { @apply --layout-horizontal; }
      }
    </style>
    
    <div class="layout center justified app-header">
      <h1>
        <a href="/home">
          <iron-icon class="logo" icon="retro-app-icons:logo"></iron-icon>
          Retro App
        </a>
      </h1>

      <div class="layout horizontal center app-header-submenu">
        <template is="dom-if" if="[[user]]">
          <span>[[user.displayName]]</span>
            <paper-button on-click="logout">Logout</paper-button>
        </template>
      </div>
    </div>
  </template>

  <script>
    class RetroAppHeader extends Polymer.Element {
      static get is() { return 'retro-app-header'; }

      static get properties() {
        return { 
          user: {
            type: Object,
            observer: '_userChanged'
          }
        };
      }

      logout() {
        this._dispatchLogoutEvent();
      }

      _userChanged(newValue, oldValue) {
      }

      _dispatchLogoutEvent() {
        this.dispatchEvent(new CustomEvent('on-logout'));
      }
    }

    window.customElements.define(RetroAppHeader.is, RetroAppHeader);
  </script>
</dom-module>