<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../rooms/create-room.html">
<link rel="import" href="../rooms/list-rooms.html">

<dom-module id="landing-page">

  <template>

      <style is="custom-style" include="iron-flex iron-flex-alignment">
      .width-1-3 { width: 33%; }
      .layout .width-1-3:first-child { margin-right: 50px; }
      .layout .width-1-3:last-child { margin-left: 50px; }
      </style>

      <div class="layout horizontal center-justified">
        <create-room class="width-1-3"></create-room>
        <list-rooms class="width-1-3"></list-rooms>
        <list-rooms class="width-1-3" archived="true"></list-rooms>
      </div>

  </template>

  <script>
    class LandingPage extends Polymer.Element {
      static get is() { return 'landing-page'; }
    }

    window.customElements.define(LandingPage.is, LandingPage);
  </script>
</dom-module>